@media (min-width: 0px) and (max-width: 575.98px) {
    .menu{
        height: 70px;
        line-height: 70px;
    }
    .logo img{
        width: 100px;
        height: 60px;
    }
    .menu_icon{
        display: block;
     }
     .menu_item{
        display: none;
     }
     .banner_area h2{
        font-size: 20px;
    }
    .banner_button a{
        font-size: 10px;
        padding: 10px 15px;
    }
    .banner_button a:last-of-type{
        margin-left: 10px;
    }
    /* ========= header area ends ====== */
    /* about area starts */
    .about_left{
        width: 100%;
    }
    .about_left h5{
        font-size: 25px;
    }
    .about_right{
        width: 100%;
        margin-left: 0%;
        margin-top: 50px;
    }
    /* ====== about area ends =======*/
    /* fine area starts */
    .fine_box{
        width: 80%;
        height: auto;
        margin-left: 20%;
    }
    .fine_all{
        margin: 0 20px;
    }
    .fine_all h2{
        font-size: 18px;
    }
    .fine_all p{
        font-size: 13px;
    }
    .fine_all img{
        width: 100%;
    }
    .fine_img img{
        margin-left: 3%;
        width: 30%;
        padding-bottom: 30px;
    }
    /* ====== fine area ends ====== */
    /* price area starts */
    .price_area{
        display: block;
    }
    .price_left{
        width: 100%;
    }
    .price_right{
        width: 100%;
        margin-left: 0%;
    }
    /* =========== price area ends ========= */
    /* guest area starts */
    .guest_area{
        margin-left: 20%;
        margin-right: 0;
    }
    .guest_box{
        width: 100%;
    }
    .guest_all{
        margin-left: 20px;
        margin-right: 20px;
    }
    .guest_all img{
        width: 100%;
    }
    .guest_head h2{
        font-size: 20px;
    }
    .guest_text img{
        width: 8px;
    }
    .guest_text p{
        margin-left: 15px;
        font-size: 10px;
    }
    .guest_span span{
        font-size: 14px;
    }
    /* =========== guest area ends ======= */
    /* contact area starts */
    .contact_area{
        display: block;
        flex-wrap: wrap;
    }
    .contact_left{
        width: 100%;
        margin-right: 0%;
    }
    .contact_left img{
        width: 45.4%;
    }
    .contact_right{
        width:100%;
    }
    .contact_text h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .double_inp {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .single_form:nth-of-type(even){
        margin-left: 0px;
    }
    .single_form{
        margin-bottom: 30px;
    }
    .button_con button{
        padding: 8px 30px;
        font-size: 12px;
    }
    .single_form input{
        width: 90%;
        padding: 0 10px;
        height: 25px;
        font-size: 13px;
    }
    /* =========== contact area ends =========*/
    /* footer area starts */
    .footer_area{
        display: block;
        justify-content: space-between;
        padding: 60px 0 72px;
    }
    .footer_left{
        width: 100%;
    }
    .footer_middle{
        margin: 50px 0 50px;
        width: 100%;
    }
    .footer_right{
        width: 100%;
    }
    .footer_left h2,
    .footer_middle h2,
    .footer_right h2{
        font-size: 15px;
    }
    .footer_left p,
    .footer_middle p,
    .footer_right p{
        font-size: 12px;
    }
    
    /* footer area ends */
 }
 /* ==========-----------===== 575px area ends ============ ---------- ======== */

 /* ===========----- 576-767px area starts =========------- */
 @media (min-width: 576px) and (max-width: 767.98px) {
    .menu_icon{
        display: block;
     }
     .menu_item{
        display: none;
     }
     .banner_area h2{
        font-size: 40px;
    }
    .banner_button a{
        font-size: 15px;
        padding: 15px 20px;
    }
    /* ========= header area ends ====== */
    /* about area starts */
    .about_left{
        width: 100%;
    }
    .about_right{
        width: 100%;
        margin-left: 0%;
        margin-top: 50px;
    }
    /* ====== about area ends =======*/
    /* fine area starts */
    .fine_box{
        width: 365px;
        height: 500px;
        margin-left: 20%;
    }
    .fine_all{
        margin: 0 40px;
    }
    .fine_all h2{
        font-size: 20px;
    }
    .fine_all p{
        font-size: 13px;
    }
    .fine_img img{
        margin-left: 30px;
        width: 70px;
    }
    /* ====== fine area ends ====== */
    /* price area starts */
    .price_area{
        display: block;
    }
    .price_left{
        width: 100%;
    }
    .price_right{
        width: 100%;
        margin-left: 0%;
    }
    /* =========== price area ends ========= */
    /* guest area starts */
    .guest_area{
        margin-left: 20%;
        margin-right: 0;
    }
    .guest_box{
        width: 365px;
    }
    .guest_all{
        margin-left: 40px;
        margin-right: 40px;
    }
    .guest_head h2{
        font-size: 20px;
    }
    .guest_text img{
        width: 15px;
    }
    .guest_text p{
        margin-left: 25px;
        font-size: 15px;
    }
    .guest_span span{
        font-size: 14px;
    }
    /* =========== guest area ends ======= */
    /* contact area starts */
    .contact_area{
        display: block;
        flex-wrap: wrap;
    }
    .contact_left{
        width: 100%;
        margin-right: 0%;
    }
    .contact_left img{
        width: 46.2%;
    }
    .contact_right{
        width:100%;
    }
    .contact_text h2{
        font-size: 20px;
        margin-top: 50px;
    }
    /* =========== contact area ends =========*/
    /* footer area starts */
    .footer_area{
        display: block;
        justify-content: space-between;
        padding: 60px 0 72px;
    }
    .footer_left{
        width: 100%;
    }
    .footer_middle{
        margin: 50px 0 50px;
        width: 100%;
    }
    .footer_right{
        width: 100%;
    }
    .footer_right p{
        margin-right: 125px;
        margin-left: 125px;
    }
    
    /* footer area ends */
 }
 /* ==========-----------===== 767px area ends ============ ---------- ======== */
 /* ===========----- 768-991px area starts =========------- */
 @media (min-width: 768px) and (max-width: 991.98px) {
    .menu_icon{
        display: block;
     }
     .menu_item{
        display: none;
     }
     .banner_area h2{
        font-size: 40px;
        margin-left:10% ;
        margin-right: 10%;
    }
    .banner_button a{
        font-size: 15px;
        padding: 15px 20px;
    }
    /* ========= header area ends ====== */
    /* about area starts */
    .about_left{
        width: 100%;
    }
    .about_right{
        width: 100%;
        margin-left: 0%;
        margin-top: 50px;
    }
    /* ====== about area ends =======*/
    /* fine area starts */
    .fine_box{
        width: 70%;
        height: 500px;
        margin-left: 20%;
    }
    .fine_all{
        margin: 0 40px;
    }
    .fine_all h2{
        font-size: 30px;
    }
    .fine_all p{
        font-size: 15px;
    }
    .fine_img img{
        margin-left: 30px;
        width: 30%;
    }
    /* ====== fine area ends ====== */
    /* price area starts */
    .price_area{
        display: block;
    }
    .price_left{
        width: 100%;
    }
    .price_right{
        width: 100%;
        margin-left: 0%;
    }
    /* =========== price area ends ========= */
    /* guest area starts */
    .guest_area{
        margin-left: 20%;
        margin-right: 0;
    }
    .guest_box{
        width: 90%;
    }
    .guest_all{
        margin-left: 40px;
        margin-right: 40px;
    }
    .guest_head h2{
        font-size: 30px;
    }
    .guest_text img{
        width: 15px;
    }
    .guest_text p{
        margin-left: 25px;
        font-size: 15px;
    }
    .guest_span span{
        font-size: 14px;
    }
    /* =========== guest area ends ======= */
    /* contact area starts */
    .contact_area{
        display: block;
        flex-wrap: wrap;
    }
    .contact_left{
        width: 100%;
        margin-right: 0%;
    }
    .contact_left img{
        width: 46.2%;
    }
    .contact_right{
        width:100%;
    }
    .contact_text h2{
        font-size: 20px;
        margin-top: 50px;
    }
    /* =========== contact area ends =========*/
    /* footer area starts */
    .footer_area{
        display: block;
        justify-content: space-between;
        padding: 60px 0 72px;
    }
    .footer_left{
        width: 100%;
    }
    .footer_middle{
        margin: 50px 0 50px;
        width: 100%;
    }
    .footer_right{
        width: 100%;
    }
    .footer_right p{
        margin-right: 125px;
        margin-left: 125px;
    }
    
    /* footer area ends */
 }
  /* ==========-----------===== 991px area ends ============ ---------- ======== */
   /* ===========----- 992px-1199px area starts =========------- */
   @media (min-width: 992px) and (max-width: 1199.98px){
    .logo img{
        width: 130px;
        height: 95px;
    }
    .menu_icon{
        display: none;
     }
     .menu_item{
        display: block;
     }
     .menu_area ul a{
        font-size: 18px;
        margin-left: 20px;
        display: block;
        color: #ffffff;
        font-family: 'Gentium Book Basic', serif;
        font-weight: 700;
        position: relative;
    }
     .banner_area h2{
        font-size: 40px;
        margin-left:10% ;
        margin-right: 10%;
    }
    .banner_button a{
        font-size: 15px;
        padding: 15px 20px;
    }
    /* ========= header area ends ====== */
    /* about area starts */
    .about_left h5{
        font-size: 30px;
    }
    .about_left p{
        font-size: 12px;
    }
    .about_img img{
        margin-top: 50px;
        width: 50%;
    }
    /* ====== about area ends =======*/
    /* fine area starts */
    .fine_box{
        width: 70%;
        height: 500px;
        margin-left: 20%;
    }
    .fine_all{
        margin: 0 40px;
    }
    .fine_all h2{
        font-size: 30px;
    }
    .fine_all p{
        font-size: 15px;
    }
    .fine_img img{
        margin-left: 30px;
        width: 30%;
    }
    /* ====== fine area ends ====== */
    /* price area starts */
    
    /* =========== price area ends ========= */
    /* guest area starts */
    .guest_area{
        margin-left: 20%;
        margin-right: 0;
    }
    .guest_box{
        width: 90%;
    }
    .guest_all{
        margin-left: 40px;
        margin-right: 40px;
    }
    .guest_head h2{
        font-size: 30px;
    }
    .guest_text img{
        width: 15px;
    }
    .guest_text p{
        margin-left: 25px;
        font-size: 15px;
    }
    .guest_span span{
        font-size: 14px;
    }
    /* =========== guest area ends ======= */
    /* contact area starts */
    .contact_area{
        display: block;
        flex-wrap: wrap;
    }
    .contact_left{
        width: 100%;
        margin-right: 0%;
    }
    .contact_left img{
        width: 46.2%;
    }
    .contact_right{
        width:100%;
    }
    .contact_text h2{
        font-size: 20px;
        margin-top: 50px;
    }
    /* =========== contact area ends =========*/
    /* footer area starts */
    .footer_area{
        display: block;
        justify-content: space-between;
        padding: 60px 0 72px;
    }
    .footer_left{
        width: 100%;
    }
    .footer_middle{
        margin: 50px 0 50px;
        width: 100%;
    }
    .footer_right{
        width: 100%;
    }
    .footer_right p{
        margin-right: 125px;
        margin-left: 125px;
    }
    
    /* footer area ends */
 }
 /* ======================= 1200 high width starts ====================== */
 @media (min-width: 1200px) {
    .contact_left img{
        width: 46.4%;
        height: 530px;
    }
 }