/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Lato&family=Open+Sans:ital@0;1&family=Yeseva+One&display=swap');

/* font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive; */
/* global diclar css starts */
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    outline: none;
}
ol,
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* global diclar css ends */
/* header area starts css */
#header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header_area{
    background: rgba(0, 0, 0, 0.05);
}
.menu_icon{
   display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
    line-height: 100px;
}
.logo img{
    width: 155px;
    height: 95px;
}
.menu_area{}
.menu_area ul{
    display: flex;
}
.menu_area ul a{
    font-size: 21px;
    margin-left: 50px;
    display: block;
    color: #ffffff;
    font-family: 'Gentium Book Basic', serif;
    font-weight: 700;
    position: relative;
}
.menu_area ul a::after{
    position: absolute;
    content: '';
    width: 80px;
    height: 3px;
    background: #c5c1b7;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.menu_area ul a:hover .menu_area ul a::after{
    opacity: 1;
    visibility: visible;
}
.menu_area ul .menu_icon{
    margin-left: 20px;
    color: #dab33e;
}
/* .menu_area ul .menu_icon::after{
    
} */
.banner_area{
    text-align: center;
    padding: 150px 0 143px;
}
.banner_area h2{
    color: #ffffff;
    font-size: 90px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    margin-bottom: 30px;
}
.banner_button{}
.banner_button a{
    margin-top: 34px;
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    padding: 22px 53px;
    background: #1a1916;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.banner_button a:last-of-type{
    background: #c2b577;
    margin-left: 30px;
}
/* header area ends css */
/* about area starts */
#about{
    background-image: url(../img/abg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about_area{
    display: flex;
    flex-wrap: wrap;
    padding: 75px 0 88px;
}
.about_left{
    width: 40%;
    text-align: center;
    margin-top: 30px;
}
.about_left h5{
    font-size: 36px;
    color: #cc9900;
    margin-bottom: 15px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}
.about_left p{
    font-size: 16px;
    color: #4c4c4c;
    margin: 0 20px;
    margin-top: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.about_img{}
.about_img img{
    margin-top: 50px;
}
.about_right{
    width: 55%;
    margin-left: 5%;
}
.about_right img{
    width: 100%;
}
/* about area ends */
/* fine area starts */
#fine{
    background-image: url(../img/sec2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:100px 0;
}
.fine_area{}
.fine_box{
    width: 570px;
    height: 560px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 40%;
}
.fine_all{
    margin: 0 80px;
}
.fine_all h2{
    font-size: 36px;
    color: #ffffff;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    margin-bottom: 25px;
    padding-top: 80px;
}
.fine_all p{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 38px;
}
.fine_img{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}
.fine_img img{
    margin-left: 30px;
}
/* fine area ends */
/* price area starts */
#price{
    background-image: url(../img/sec3bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.price_area{
    display: flex;
    padding-top: 105px;
    padding-bottom: 25px;
}
.price_left{
    width: 45%;
}
.single_price{}
.price_head{
    text-align: center;
}
.price_head h2{
    color: #cc9900;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 16px;
}
.price_head img{}
.all_price{
    margin-bottom: 70px;
}
.sin_item{
    margin-top: 35px;
}
.food_name{
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 1px solid #c89f2d;
}
.food_name h4{
    color: #c89f2d;
    font-size: 21px;
    font-family: 'Yeseva One', cursive;
    font-size: 400;
}
.sin_item p{
    color: #c89f2d;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.price_right{
    width: 45%;
    margin-left: 10%;
}
.sp{
    display: flex;
    justify-content: end;
}
.ssapn{
    padding: 6px 15px;
    background: #d4b764;
    display: inline-block;
}
.ssapn span{
    font-size: 14px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.spe_bor{
    border-top: 1px solid #c89f2d;
    padding-top: 5px;
}
/* price area ends */
/* guest area starts */
#guest{
    background-image: url(../img/sec3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}
.guest_area{
    margin-left: 20%;
}
.guest_box{
    width: 770px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.guest_all{
    margin-left: 30px;
    margin-right: 80px;
}
.guest_head{
    text-align: center;
}
.guest_head h2{
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 22px;
    padding-top: 83px;
}

.guest_text{
   
}
.guest_text img{
    width: 30px;
}
.guest_text p{
    margin-left: 40px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Gentium Book Basic', serif;
    font-weight: 700;
    line-height: 30px;
}
.guest_span{
    text-align: center;
    margin-top: 45px;
    padding-bottom: 105px;
}
.guest_span span{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
/* guest area ends */
/* contact area starts */
#contact{
    background-image: url(../img/contactBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0 103px;
}
.contact_area{
    display: flex;
    flex-wrap: wrap;
}
.contact_left{
    width: 50%;
    margin-right: 5%;
}
.contact_left img{
    width: 225px;
    height: 530px;
}
.contact_left img:nth-of-type(even){
    margin-left: 6.2%;
}
.contact_right{
    width:45%;
}
.contact_right img{

}
.contact_text{
    text-align: center;
}
.contact_text h2{
    color: #cc9900;
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}
.contact_text img{
    margin-top: 22px;
    margin-bottom: 32px;
}
.contact_text p{
    color: #4c4c4c;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.contact_text p:first-of-type{
    margin-bottom: 20px;
}
.contact_text p:last-of-type{
    margin-bottom: 45px;
}
.contact_form{}
.button_con{
    text-align: center;
}
.button_con button{
    padding: 12px 63px;
    background: #c8a131;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 400;
    font-size: 16px;
    color: #ffffff;
}
.double_inp {
    display: flex;
    width: 433px;
    margin-bottom: 30px;
}
.single_form:nth-of-type(even){
    margin-left: 30px;
}
.single_form label{
    display: block;
    color: #c9a131;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.single_form input{
    width: 170px;
    padding: 0 15px;
    height: 34px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    border: 1px solid #e0e0e1;
    transition: all linear .3s;
}
.single_form input:hover{
    border: 1px solid #e1d3a5;
}

.single_form input::placeholder{

}
/* contact area ends */
/* footer area starts */
#footer{
    background: #191919;
    color: #fff;
}
.footer_area{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 72px;
}
.footer_left{
    width: 40%;
    text-align: center;
}
.footer_middle{
    width: 25%;
    text-align: center;
}
.footer_right{
    width: 25%;
    text-align: center;
}
.footer_left h2,
.footer_middle h2,
.footer_right h2{
    font-size: 21px;
    color: #fefefe;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    margin-bottom: 21px;
}
.footer_left p,
.footer_middle p,
.footer_right p{
    margin-top: 22px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.footer_left p{
    margin-left: 42px;
    margin-right: 42px;
}
.footer_right p{
    margin-bottom: 55px;
    font-weight: 700;
    margin-right: 20px;
    margin-left: 20px;
}
.footer_middle p:last-of-type{
    margin-top: 0;
    margin-bottom: 55px;
}
.footer_right ul{
    display: flex;
    justify-content: center;
}
.footer_right ul a{
    margin-left: 13px;
    font-size: 16px;
    color: #ffffff;
}
.bold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
/* footer area ends */


/* font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive; */